@import 'https://assets.codepen.io/3351103/__reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --primary-color: #1b1464;
    --secondary-color: #ff7600;
    --ascent-color: #00bfb0;
    --primary-font: 'Poppins', sans-serif;
    --primary-font-color: #111;

    --header-background-color: #f7cac9;
}

body {
    font-family: var(--primary-font);
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 1.3rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding-bottom: 2rem;
}
.primary-navigation li a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

/* --- primary header --- */
.primary-header {
    display: flex;
    min-height: 120px;
    padding: 1rem 2rem;
    background-color: var(--header-background-color);

    .container {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .home-link {
        height: 36px;
    }

    .home-link img {
        width: 9.4rem;
        height: 9.4rem;
        padding-bottom: 5rem;
    }

    .primary-navigation {

        .active a {
            color: var(--secondary-color);
        }

        .nav-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            justify-content: right;

            a {
                display: flex;
                width: 100%;
                min-height: 80px;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .user-profile {
                column-gap: .6rem;

                .avatar {
                    max-width: 60px;
                    border-radius: 50%;
                }

                span {
                    margin-left: auto;
                }
            }

        }
    }
}

/* --- primary header END --- */

/* --- Burger Toggle --- */

.primary-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    cursor: pointer;

    .line,
    .line:before,
    .line:after {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--secondary-color);
        height: 3px;
        width: 30px;
        transition: transform 100ms ease-in-out;
        border-radius: 2px;
    }

    .line:before {
        margin-top: -8px;
    }

    .line:after {
        margin-top: 8px;
    }
}

#primary-toggle:checked+.primary-toggle {
    .line:before {
        margin-top: 0px;
        transform: rotate(45deg);
    }

    .line {
        background-color: transparent;
    }

    .line:after {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
}

/* --- Burger Toggle END --- */


/* --- Mobile Menu --- */

@media (max-width: 992px) {

    .primary-header {

        .primary-toggle {
            display: flex;
        }

        .primary-navigation {
            position: absolute;
            display: grid;
            /* transition for height */
            transition: grid-template-rows 500ms ease-in-out;
            /* menu hidden */
            grid-template-rows: 0fr;
            width: 100%;
            top: calc(1rem + 100%);
            left: 0;
            padding: 0;
            z-index: 999;
            background-color: var(--header-background-color);
            filter: brightness(105%);
            box-shadow: 0 2px 5px rgb(0 0 0 /.1);

            .nav-list {
                display: block;
                overflow: hidden;

                li {
                    padding: 0 2rem;
                }

                li:first-child {
                    border-top: 2px solid var(--secondary-color);
                }

                li:last-child {
                    margin-bottom: 2rem;
                }

                a {
                    font-weight: 500;
                    font-size: 1.15rem;
                    min-height: 0;
                    padding: 1rem 0;
                    border-bottom: 1px solid rgb(0 0 0 /.1);
                }

                li:last-child a {
                    border: 0;
                }

                .user-profile span {
                    margin-left: 0;
                }
            }
        }

        #primary-toggle:checked~.primary-navigation {
            grid-template-rows: 1fr;
        }

    }
}

/*home css */
section {
    min-height: 100vh;
    padding: 7rem 10% 2rem ;
    margin-top: -13rem;
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content p{
    font-size: 1.3rem;
}
.home-content h3 {
    font-size: 2.7rem;
    font-weight: 600;
}
.home-content h1 {
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 1.3;
}
.home-img img {
    max-width: 37vw;
    height: 65vh;
    object-position: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
} 

/*Footer Section */
h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.footer {
background: var(--header-background-color);
padding-top: 40px;
padding-bottom: 20px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 1.5rem;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 1.2rem;
text-transform: capitalize;
text-decoration: none;
}
.single_footer ul li a:hover { color: #ff7600; }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 1.2rem;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff7600;
border: 1px solid #fff;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 1.5rem;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff7600;}

/*About Section*/
.about {
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
}

.about-img img {
    max-width: 39vw;
    height: 22rem;
}