@import 'https://assets.codepen.io/3351103/__reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --primary-color: #1b1464;
    --secondary-color: #ff7600;
    --ascent-color: #00bfb0;
    --primary-font: 'Poppins', sans-serif;
    --primary-font-color: #fff;
    --header-background-color: #545454;
}

body {
    font-family: var(--primary-font);
    overflow-x: hidden;
}
body:not(header){
    background-color: #e6edf7;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 1.3rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.wrapper {
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;
    max-height: 45px;
}
.wrapper h4{
    margin-right: 20rem;
    padding-top: 2.5rem;
    color: var(--primary-font-color);
    font-size: 1.5rem;
}

.primary-navigation li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* --- primary header --- */
.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    background-color: var(--header-background-color);

    .container {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .home-link {
        height: 36px;
    }

    .home-link img {
        width: 9.4rem;
        height: 9.4rem;
        padding-bottom: 5rem;
    }

    .primary-navigation {

        .active a {
            color: var(--secondary-color);
        }

        .nav-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            justify-content: right;

            a {
                display: flex;
                width: 100%;
                min-height: 80px;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 700;
            }

        }
    }
}

/* --- primary header END --- */

/* --- Burger Toggle --- */

.primary-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    cursor: pointer;

    .line,
    .line:before,
    .line:after {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--secondary-color);
        height: 3px;
        width: 30px;
        transition: transform 100ms ease-in-out;
        border-radius: 2px;
    }

    .line:before {
        margin-top: -8px;
    }

    .line:after {
        margin-top: 8px;
    }
}

#primary-toggle:checked+.primary-toggle {
    .line:before {
        margin-top: 0px;
        transform: rotate(45deg);
    }

    .line {
        background-color: transparent;
    }

    .line:after {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
}

/* --- Burger Toggle END --- */


/* --- Mobile Menu --- */

@media (max-width: 992px) {

    .primary-header {

        .primary-toggle {
            display: flex;
        }

        .primary-navigation {
            position: absolute;
            display: grid;
            /* transition for height */
            transition: grid-template-rows 500ms ease-in-out;
            /* menu hidden */
            grid-template-rows: 0fr;
            width: 100%;
            top: calc(1rem + 100%);
            left: 0;
            padding: 0;
            z-index: 999;
            background-color: var(--header-background-color);
            filter: brightness(105%);
            box-shadow: 0 2px 5px rgb(0 0 0 /.1);

            .nav-list {
                display: block;
                overflow: hidden;

                li {
                    padding: 0 2rem;
                }

                li:first-child {
                    border-top: 2px solid var(--secondary-color);
                }

                li:last-child {
                    margin-bottom: 2rem;
                }

                a {
                    font-weight: 500;
                    font-size: 1.15rem;
                    min-height: 0;
                    padding: 1rem 0;
                    border-bottom: 1px solid rgb(0 0 0 /.1);
                }

                li:last-child a {
                    border: 0;
                }
            }
        }

        #primary-toggle:checked~.primary-navigation {
            grid-template-rows: 1fr;
        }

    }
}
@media (max-width: 678px) {
    .wrapper{
        padding-bottom: -5rem;
    }
    .wrapper h4{
        font-size: 1.3rem;
        margin-right: 4rem;
    }
    
    .home-container{
        width: 100%;
        padding-top: 15rem;
        flex-direction: column;
    }
    .home-container img{
        min-width: 88vw;
    }
    .home-content{
        min-width: 90vw;
    }
    .primary-header{
        padding-bottom: 2.4rem;
    }
    .home-content p{
        min-width: 80vw;
        font-size: 1.2rem;
        font-weight: 500;
        word-spacing: -0.3em !important;
    }
    .home-content h3{
        font-size: 2rem !important;
    }
    .home-content h1{
        font-size: 1.9rem !important;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
    }
    .about-content{
        min-width: 90vw;
        margin-bottom: 4.5rem;
    }
    .about-img img{
        min-width: 82vw;
        margin-top: 25rem;
    }
    .about-content p{
        font-size: 1.3rem !important;
        word-spacing: -0.3em !important;
    } 
}

/*home css */
section{
    background-color: #e6edf7;
}

#about p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -1rem;
}
#about h2{
    margin-top: -7rem;
    font-weight: bold;
}
#abt{
    
    margin-top: -3rem;
}
#abt img{
    height: 55vh;
    width: 33vw;
}
#abt p{
    font-size: 1.3rem;
    font-weight: 400;
}
/* Home section CSS END */


/*Footer Section */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.footer {
    background: var(--header-background-color);
    padding-top: 40px;
    padding-bottom: 20px;
}

/*END FOOTER SOCIAL DESIGN*/
@media only screen and (max-width:768px) {
    .single_footer {
        margin-bottom: 30px;
    }
}

.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}

.single_footer p {
    color: #fff;
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
}

.single_footer ul li a:hover {
    color: #ff7600;
}
.single_footer_address ul li {
    color: #fff;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width:768px) {
    .social_profile ul li a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:480px) {
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.social_profile ul li a:hover {
    background: #ff7600;
    border: 1px solid #fff;
    color: #fff;
    border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #fff;
    font-size: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: #01c7e9;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: #ff7600;
}

/* About Section CSS */
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.7rem;
    padding: 10rem 9% 2rem;
}
.about-content{
    background-color: var(--primary-font-color);
}
.about-content p{
    font-size: 1.3rem;
    margin: 3rem;
    text-align: justify;
    padding: 0;
}
.about-content button{
    float: right;
    margin-right: 3rem;
    margin-top: -4rem;
}

.about-img img {
    max-width: 40vw;
    height: 25rem;
}
/* About Section CSS END */

/*Service Section CSS*/
.section-services {
    color: #202020;
    padding-top: 115px;
    padding-bottom: 120px;
}

.section-services .header-section {
    margin-bottom: 34px;
}

.section-services .header-section .title {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #ff7600;
    border-radius: 3px;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(30px);
    width: 10px;
    height: 3px;
    background-color: #504f93;
    border-radius: 3px;
}

.section-services .header-section .description {
    font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

.section-services .single-service .content {
    position: relative;
    z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #ff7600;
    border: 6px solid #504f93;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
    width: 100%;
    height: 100%;
    transform: none;
    border: 0;
    border-radius: 0;
    opacity: 1;
}

.section-services .single-service .icon {
    display: inline-block;
    margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #ff7600;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
    background-color: #fff;
    color: #ff7600;
}

.section-services .single-service .title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
    color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
    color: #fff;
}

.section-services .single-service a {
    position: relative;
    font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
    color: #fff;
}

.section-services .single-service a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ff7600;
    transition: background-color .3s;
}

.section-services .single-service:hover a:after {
    background-color: #fff;
}